>mm9
CODING =annotations/mm9.ucsc.coding.bed
#CODING =annotations/mm9.ucsc.nearCoding.bed
MAPPED_CODING=annotations/mm9.blastHg18KG.NM.bed
MAPPED_CODING=annotations/mm9.transMapAlnUcscGenes.coding.bed
ORTHOLOG=hg19
LIFTOVER=annotations/mm9ToHg19.over.chain.gz
GENOME_FA=annotations/mm9.fa
REPEAT_MASKER=annotations/mm9.repeatMasker.bed
NONCODING=annotations/gencode.vM1.long_noncoding_RNAs.bed
NONCODING=annotations/mm9.pluripotent.long_noncoding_RNAs.bed

>hg19
CODING=annotations/hg19.ucsc.coding.bed
#CODING=annotations/hg19.ucsc.nearCoding.bed
MAPPED_CODING=annotations/hg19.transMapAlnUcscGenes.coding.bed
ORTHOLOG=mm9
LIFTOVER=annotations/hg19ToMm9.over.chain.gz
GENOME_FA=annotations/hg19.fa
REPEAT_MASKER=annotations/hg19.repeatMasker.bed
NONCODING=annotations/gencode.v19.long_noncoding_RNAs.bed
NONCODING=annotations/hg19.pluripotent.long_noncoding_RNAs.bed

