>mm9
CODING=annotations/mm9.ucsc.coding.bed
CODING=annotations/mm9.refseq.coding.bed
CODING=annotations/mm9.ucsc.nearCoding.bed
MAPPED_CODING=annotations/mm9.blastHg18KG.NM.bed
MAPPED_CODING=annotations/mm9.transMapAlnUcscGenes.coding.bed
ORTHOLOG=hg19
LIFTOVER=annotations/mm9ToHg19.over.chain.gz
GENOME_FA=annotations/mm9.fa
REPEAT_MASKER=annotations/mm9.repeatMasker.bed
NONCODING=annotations/mm9.ucsc.longNoncoding.bed
NONCODING=annotations/mm9.pluripotent.long_noncoding_RNAs.bed
GENESYMBOL=annotations/mm9.geneSymbolMap.txt
MIRNA=annotations/mm9.miRNAs.bed
SNORNA=annotations/mm9.snoRNAs.bed

>hg19
CODING=annotations/hg19.ucsc.coding.bed
CODING=annotations/hg19.refseq.coding.bed
CODING=annotations/hg19.ucsc.nearCoding.bed
MAPPED_CODING=annotations/hg19.transMapAlnUcscGenes.coding.bed
ORTHOLOG=mm9
LIFTOVER=annotations/hg19ToMm9.over.chain.gz
GENOME_FA=annotations/hg19.fa
REPEAT_MASKER=annotations/hg19.repeatMasker.bed
#NONCODING=annotations/hg19.ucsc.longNoncoding.bed
NONCODING=annotations/hg19.pluripotent.long_noncoding_RNAs.bed
#NONCODING=/seq/lincRNA/jjenny/data/gencode/human/gencode.v19.lncRNAs.genes.bed
GENESYMBOL=annotations/hg19.geneSymbolMap.txt
MIRNA=annotations/hg19.miRNAs.bed
SNORNA=annotations/hg19.snoRNAs.bed
